/*
=========================================================================
                                    NAVBAR Section
=========================================================================
*/

body {
  font-family: "Roboto Condensed", sans-serif;
}

.jumbotron {
  background-color: #f4f5f6;
}

.all_height {
  fill: #fff;
  height: 100%;
}

.height_var {
  height: 1.6rem;
}

.navbar {
  font-weight: 700;
}

.red_part {
  background-color: #f72210;
  height: 3.2rem;
  min-width: 100%;
}

.red_part a {
  text-decoration: none;
}

.fa-bars {
  font-size: 2rem;
  line-height: 2rem;
}

.right_icon {
  font-size: 2rem;
  line-height: 1.4rem;
  font-weight: 400;
  padding-bottom: 0.06rem;
}

.blank_space {
  height: 100vh;
}

.form-inline {
  width: 11.5rem;
  font-family: 'Noto Sans', sans-serif;
}

.form_inside {
  height: 1.35rem;
}

#white_part {
  border-left: lightgray 1px solid;
  border-right: lightgray 1px solid;
}

#white_part a {
  color: #000; /* had to put manual colors since bootstrap doesn't allow to change color on hover */
  font-size: 1.32rem;
  line-height: 1.32rem;
}

#white_part span {
  color: #989898;
}

#white_part a:hover {
  color: #fff;
  background-color: #000;
}

#white_part a:hover span {
  color: #bf0000;
}

.navbar-nav li {
  height: 1.32rem;
  width: 100%;
}

.navbar-nav li:last-child {
  border-right: none;
}

.navbar-nav li.right_icon {
  line-height: 0.5rem;
}

.diagonal {
  width: 1rem;
  height: 1rem;
  background: linear-gradient(to bottom left, #f72210 50%, #fff 51%);
}

.red {
  width: 4.1rem;
  height: 1rem;
  background-color: #f72210;
}

@media screen and (min-width: 992px) {
  .red_part {
    height: 5.9375rem;
  }

  .navbar,
  main {
    max-width: 82rem;
  }

  .form-inline {
    width: 5rem;
  }

  .navbar-nav {
    flex: 1;
  }

  .navbar-nav li {
    width: auto;
    border-right: #d3d3d3 1px solid;
    flex-grow: 1;
  }

  #white_part {
    border-bottom: #f4f5f6 2px solid;
    width: 100%;
    border-left: none;
    border-right: none;
  }

  #white_part a:hover {
    color: #f72210;
    background-color: #fff;
  }
}

/*
=========================================================================
                                    Main Section
=========================================================================
-----Layout
*/

.debug {
  border: blue 1px solid;
}

@media screen and (min-width: 768px) {
  .center_bar {
    margin-left: -5rem;
  }
}

@media screen and (min-width: 992px) {
  .left_sidebar {
    padding-right: 4rem;
  }

  .center_bar {
    margin-left: -3rem;
  }

  .right_sidebar {
    margin-left: -4.5rem;
    padding-left: 4.5rem;
  }
}
